@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Nunito:300,400,600,800&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff);
    src: url(../fonts/Roboto-Regular.woff2);
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
	font-family: 'GoBold', sans-serif;
	font-size: 14px;
	color: #787878
}

header{
	background-color: transparent;
	text-align: left;
	padding: 20px 0px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#home{
	background-size: cover;
	background-position: top center;
	padding: 10% 0;
	color: #ffffff;
	height: 100vh;
}

#home h1{
	font-size: 60px;
	font-weight: 300;
	
}

#home h1 span{
	display: block;
	font-weight: 700;
}

#home p{
	font-size: 20px;
}

#home .subtitulo{
	color: #fff;
}

.bg-home{
	background-image: url("../img/hero-home.jpg");
}

.bg-contact{
	background-image: url("../img/bg-contact.jpeg");
	
	height: 60vh !important;  	
}

#home .btn-light{
	border-radius: 0;
	padding: 15px 40px;
}

#home .btn-light:hover{
	background-color: #000000;
	color: #ffffff;
}

.btn{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}

#designs{
	background-color: #f2f2f2;
	text-align:center;
	font-size: 14px;
	color: #999999;
	padding: 50px 0px;
}

.titulo{
	padding-top: 80px;
	font-weight: 300;
	font-size: 40px;
	color: #222222;
	padding-bottom: 20px;
	text-align: center;
}

.subtitulo{
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 80px;
	color: #808080;
	text-align: center;
	
}

#designs h6{
	color: #222222;
	font-size: 12px;
}

#designs p{
	font-size: 16px;
	padding-bottom: 50px
	
}

#recen-work h6{
	color: #222222;
	font-size: 12px;
}

#recen-work p{
	font-size: 16px;
	padding-bottom: 50px
	
}

.btn-success{
	border-radius: 0;
	padding: 15px 40px;
	margin: 30px 0px;
	text-align: center;
	background-color: #01A88C;
}

.btn-success:hover{
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}

#recen-work p{
	text-align: center;
}

#what-we h6{
	font-size: 14px;
	padding-top: 80px;
}

p{
	font-size: 16px;
}
.right{
	text-align: right;
}
.testimonial-info p{
	margin-top: 50px;
	margin-bottom: 50px;
} 
#testimonials article:nth-child(2) .testimonials-info{
	background-color: #eee;
	color: #fff;
}
#testimonials article:nth-child(3) .testimonials-info{
	background-color: #000;
}
#touch{
	background-image: url("../img/bg-action.jpeg");
	background-size: cover;
	background-position: center;
	color: #fff;
}
#touch{
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0,80);
}

#slides .tag{
	font-size: 20px;
	font-style: italic;
}

#slides .sub{
	font-size: 20px;
}

#slides h1{
	font-size: 60px;
	font-weight: 300;
	margin-bottom: 45px;
}

#slides .carousel-item img{
	height: 640px		
}

#slides .carousel-caption{
	top:20%;
	width: 60%;
	margin: 0 auto;
}

.slide-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(54,54,54,0.75);
}

.work{
	position: relative;
	overflow: hidden;
} 

.work-fondo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #28d1a2;
	opacity: 0;
	transition: all 0.4s ease-in; 
}

.work-texto{
	position: absolute;
	top: 50%;
	left: 0;
	color: #fff;
}

.work-texto{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:	#fff;
	text-align: center;
}

.work-texto h5{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
    font-size: 14px;
}

.work-texto h6{
	font-weight: 600;
	font-size: 14px;
}

.work:hover .work-fondo,
.work:hover .work-texto{ 
	opacity: 1;
}

.work-frame{
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	
}

.work-bottom{
	position: absolute; 
	width: 100%;
	background-color: #000;
	color: #fff;
	bottom: 0;
	text-align: center;
	padding: 5px 0;
}

.work:hover .work-bottom{
	background-color: #28D1A2;
}

.overlay{
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.70);
	padding: 10% 0;
}

.work:hover img{
	transform: scale(1.5);
	transition: all 1s ease-in-out;
} 

.work img{
	transition: all 1s ease-in-out;
	filter: blur(5px);
	filter: sepia(1);
} 

h4{
	text-transform: uppercase;
	color: #404040;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
}

.navbar-nav .fab{
	background-color: #28D1A2;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
} 

.navbar-nav .fab:hover{
	color:#fff;
}


footer{
	padding: 40px 0px;
	text-align: center;
}